<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>Document</title>
</head><body>
  <div id="main">
    <div id="left">
      <div id="bcircle">
        <div id="scircle"></div>
      </div>
      <h1>welcome to FNB</h1>
      <div class="line"></div>
      <p class="para">VITS is known for its excellent faculty strength, <br>
        which synergizes brilliantly with the students. <br> 
        We are perfectly aware of what to deliver & believe <br>
          in dynamic teaching utilizing the latest pedagogic <br>
          principles. The education at VITS does not end with <br>
        the course curriculum;</p>
        <button id="know">know More</button>
    </div>
    <div id="right">
      <div class="logo"></div>
      <h3>LOGO</h3>
      <p class="account"> Have an Account ?</p>
      <div class="line2"></div>
      <button class="login">log in</button>
      <h2>sign Up</h2>
      <div class="line3"></div>
      <div class="center">
      <form method="post" action="/register" >
        <div class="txt_field">
          <input name="username" type="text" required>
          <span></span>
          <label for="">username</label>
        </div>
        <div class="txt_field">
          <input name="email" type="text" required>
          <span></span>
          <label for="">email</label>
        </div>
        
        <div class="txt_field">
          <input name="password" type="password" required>
          <span></span>
          <label for="">password</label>
        </div>
        
        <input type="submit" value="register">
        <div class="signup_link">
          allready a  member? <a href="/loginpage">login</a>
        </div>
      </form>
    </div>
    </div>
  </div>
</body>
</html>